@charset "utf-8";
/* CSS Document */
html, body, div, span, header, section, nav, article, aside, footer, p, h1, h2, h3, h4{
	border:0; margin:0;padding:0;
}

/* or download a CSS reset e.g. normalize */
html {
	font-size: 18px;
}

.flex-container{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	margin:0 auto;
	background-image:url(../images/refinery.jpg);
	background-attachment: fixed;
	background-position: center;    
}

header {
	display:flex;
	padding-top:80px;
	width:100%;
	min-height:12em;
	order: 2;
	text-align: center;
	justify-content:center;
  align-items:center;
	background-image:linear-gradient(cornflowerblue,white);
}


nav {
	width:100%;
	height:50px;
	font-size: 1.2em;
	order: 1;
}



/*Sidebar starts here*/

#toggleside {
	padding-left: 5px;
}

#toggleside i {
	color:cornflowerblue;
	font-size:3em;
	transition: 0.3s;
}

#toggleside i:hover {
	color:rgb(51, 113, 228);
	transform: scale(1.5,1.5);
	text-decoration: none;
}

.sidebar {
	order: 3;
	flex: 1 20%;
	height:auto;
	position: relative;
	background-color: cornflowerblue;
	transition: margin 0.5s;
	padding: 60px 0 60px 0;
}

.sidebar a {
	padding: 8px 20px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
	transition: 0.5s;
}

.sidebar a:hover {
	color: #f1f1f1;
	text-decoration: none;
	background-color: rgb(51, 113, 228);
}

.sidebar .closebtn:hover {
	color: #f1f1f1;
	text-decoration: none;
	background-color: cornflowerblue;
}


.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

/*======== Side Bar ends here===========*/


article{
  display:flex;
  flex-wrap:wrap;
  order: 4;
	flex: 1 80%;
	min-height: 900px;
  background-color:rgba(245, 248, 235, 0.75); 
}

.maintext {
	text-align:center;
	font-size: 1.3em;
}



footer {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
  width:100%;
  min-height:5em;
  order:6;
  align-items:center;
  background-color:rgba(186,232,235,1.00);
}


aside {
	width:100%;
	height:1em;
}



article h2 {
	width:100%;
	text-align: center;
	padding: 10px;
}

article form {
	box-sizing: border-box;
	width: 60%;
	border: 3px solid rgb(0, 89, 255);
	border-radius: 10px;

	padding: 20px;
	margin: auto;
	background-image: linear-gradient(cornflowerblue,white);
}

fieldset p {
	font-size: 1em;
	color: grey;
}

.error {
	font-size: 1em;
	color: red;
}

.holder {
	width:32%;	
	min-height:420px;
	float:left;	
	margin: 0.5%;
}

.frame {
	width:100%;	
	padding: 4%;
	min-height:400px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end; 
	justify-content: space-around;
	background-color: rgb(255, 241, 227);
	box-sizing: border-box;
	border: 2px solid orange;	
	border-radius: 10px;
}

.frame p {
	width: 100%;
	font-size: 1em;
}

.bigholder {
	width:100%;	
	height:auto;
	float:left;
	box-sizing: border-box;
	padding: 2%;
}


.errmsg {
	width: 100%;
	/*margin: 3px 10%;*/
	font-size: 0.8em;
}

.button {
	box-sizing: border-box;
	border: 2px solid gray;
	border-radius: 5px;
	min-width: 120px;
	display: flex;
	justify-content: center;	
	line-height: 20px;
	padding: 12px 0;
	margin: 10px;
	text-align: center;		
	background-image: linear-gradient(white,darkgrey);
	background-color: rgb(226, 226, 226);
	font-size: 1em;
}

button, input[type=button], input[type=submit]{
	/*box-sizing: border-box;
	border: 1px solid blue;*/
	color: black;
	border-radius: 5px;
	min-width: 100px;
	justify-content: center;	
	line-height: 40px;
	text-align: center;		
	background-color: rgb(226, 226, 226);
	font-size: 1em;
}

.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-color: rgb(203, 215, 255);
	cursor: pointer;
}

.button:active, button:active, input[type=button]:active, input[type=submit]:active {
	background-color: rgb(226, 233, 255);
	cursor: pointer;
}

.button:disabled, button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
	background-color: lightgray;
	cursor: default;
}

/* hide the divs in ajax page when loaded */
.ajaxform {
	display: none;
}



/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1s;
	animation-name: animatetop;
	animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modalheader {
	padding: 6px 16px;
	background-color: rgb(77, 118, 255);
	color: white;
}

.modalbody {
	padding: 32px 16px;
}

.modaltext {
	font-size: 1.3em;
	min-height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}

.btn {
	min-width: 120px;
}

.modalfooter {
	padding: 18px 16px;
	background-color: rgb(77, 118, 255);
	color: white;
}


@media only screen and (max-width: 1400px) {

	.sidebar {
		flex: 1 25%;
	}
	article {
		flex: 1 75%;
	}

	article form {
		width: 85%;
	}
	.holder{
		width:49%;	
	}
	.modalcontent {
		width:60%;
	}
}

@media only screen and (max-width: 900px) {


	.flex-container {
		width:100%;
	}

	.sidebar {
		flex: 1 100%;
	}

	.sidebar a {
		font-size: 1.5em;
		text-align: center;
	}

	.holder{
		width:99%;
	}

	.modalcontent {
		width:90%;
	}

	article {
		font-size: 25px;
		flex: 1 100%;
	}

	article form {
		width: 95%;
	}
	
	.nav{
		height:auto;
	}

	.holder{
		width:100%;	
	}

	footer {
		font-size: 25px;
	}
}
