@charset "utf-8";
/* CSS Document */
html, body, div, span, header, section, nav, article, aside, footer, p, h1, h2, h3, h4{
	border:0; margin:0;padding:0;
}

/* or download a CSS reset e.g. normalize */
html {
	font-size: 18px;
}

.flex-container{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	min-height:100%;
	margin:0 auto;

	background-image:url(../images/refinery.jpg);
	background-size: cover;
	background-position: center;    
}

header {
	display:flex;
	width:100%;
	height:10em;
	order: 1;
	justify-content:center;
  align-items:center;
	background-color:rgba(186,232,235,1.00);
}

nav {
	width:100%;
	height:3em;
  order: 2;
}
.menuItem{
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:20%;
	height:3em;
	float:left;
	background-color:gray;
	color:#FFF;
}
.menuItem:hover{
	background-color:rgba(255,0,0,1.00);
}
article{
  display:flex;
  flex-wrap:wrap;
  order: 4;
	flex: 1 75%;
	min-height: 900px;
  background-color:rgba(245, 248, 235, 0.75); 
}

/*Sidebar starts here*/
.sidebar {
	height: 100%;
	width: 350px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: cornflowerblue;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
	transition: 0.5s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left .5s;
	margin-left: 350px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}



/*Control Panel starts here*/

.controlPanel {
  order: 3;
  flex: 1 25%;
	background-color: rgb(255, 241, 227); 
	box-sizing: border-box;
	border-right: 3px solid orange;
}
.contentRight{
  order: 5;
	flex: 1 0%;
	background-color:rgba(207,174,102,1.00);
	display: none;
}
footer {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
  width:100%;
  min-height:5em;
  order:6;
  align-items:center;
  background-color:rgba(186,232,235,1.00);
}


aside {
	width:100%;
	height:1em;
}

.panel {
	box-sizing: border-box;
	border: 2px solid gray;
	flex-wrap: wrap;
	align-items: flex-start;
	width:90%;
	margin:10px auto;
	height: auto;
	border-radius: 10px;
	background-color: lightgrey;
}

.panel h4 {
	width:100%;
	text-align: center;
	padding-top: 10px;
}

.panel ul {
	box-sizing: border-box;
	border: 0px solid blue;
	width:100%;
	min-height:auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	padding: 0 15px;
}

.panel li {
	min-width: 250px;
	margin: 5px;
	display: flex;
	justify-content: center;	
	line-height: 30px;
	text-align: center;		
	background-image: linear-gradient(darkgrey, white);
	font-size: 0.9em;
	border-radius: 3px;
	transition: 0.5s;
}

.panel li:hover {
	background-color: silver;
}

.panel li a { 
	position: relative; left: -10px; 
	color: black;
}

.panel li a:hover { 
	color: cornflowerblue;
}

article h2 {
	width:100%;
	text-align: center;
	padding: 10px;
}

article form {
	box-sizing: border-box;
	width: 60%;
	border: 3px solid rgb(0, 89, 255);
	border-radius: 10px;

	padding: 20px;
	margin: auto;
	background-image: linear-gradient(cornflowerblue,white);
}

fieldset p {
	font-size: 1em;
	color: grey;
}

.error {
	font-size: 1em;
	color: red;
}

.holder {
	width:32%;	
	min-height:420px;
	float:left;	
	margin: 0.5%;
}

.frame {
	width:100%;	
	padding: 4%;
	min-height:400px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end; 
	justify-content: space-around;
	background-color: rgb(255, 241, 227);
	box-sizing: border-box;
	border: 2px solid orange;	
	border-radius: 10px;
}

.frame p {
	width: 100%;
	font-size: 1em;
}

.bigholder {
	width:100%;	
	height:auto;
	float:left;
	box-sizing: border-box;
	padding: 2%;
}


.errmsg {
	width: 100%;
	/*margin: 3px 10%;*/
	font-size: 0.8em;
}

.button {
	box-sizing: border-box;
	border: 2px solid gray;
	border-radius: 5px;
	min-width: 120px;
	display: flex;
	justify-content: center;	
	line-height: 20px;
	padding: 12px 0;
	margin: 10px;
	text-align: center;		
	background-image: linear-gradient(white,darkgrey);
	background-color: rgb(226, 226, 226);
	font-size: 1em;
}

button, input[type=button], input[type=submit]{
	/*box-sizing: border-box;
	border: 1px solid blue;*/
	color: black;
	border-radius: 5px;
	min-width: 100px;
	justify-content: center;	
	line-height: 40px;
	text-align: center;		
	background-color: rgb(226, 226, 226);
	font-size: 1em;
}

.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-color: rgb(203, 215, 255);
	cursor: pointer;
}

.button:active, button:active, input[type=button]:active, input[type=submit]:active {
	background-color: rgb(226, 233, 255);
	cursor: pointer;
}

.button:disabled, button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
	background-color: lightgray;
	cursor: default;
}
/*
a:link, a:active, a:visited{
  color:black;
  text-decoration: solid;
}

/* hide the divs in ajax page when loaded */
.ajaxform {
	display: none;
}



/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1s;
	animation-name: animatetop;
	animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modalheader {
	padding: 6px 16px;
	background-color: rgb(77, 118, 255);
	color: white;
}

.modalbody {padding: 32px 16px;}

.modalfooter {
	padding: 18px 16px;
	background-color: rgb(77, 118, 255);
	color: white;
}


@media only screen and (max-width: 1440px) {

	.nav{
		order:1;
	}
	.header{
		order:2;
	}
	.sidebar {
		width: 0;
	}
	#main {
		margin-left: 0;
	}
	.holder{
		width:49%;	
	}
}

@media only screen and (max-width: 768px) {
	.flex-container {
		width:100%;
	}
	.holder{
		width:99%;
	}

	.modalcontent {
		width:90%;
	}

	article {
		font-size: 25px;
		flex: 1 100%;
	}

	article form {
		width: 95%;
	}
	
	.nav{
		height:auto;
	}
	.menuItem{
		width:100%;
	}
	.holder{
		width:100%;	
	}
}
