@charset "utf-8";
/* CSS Document */
html, body, div, span, header, section, nav, article, aside, footer, p, h1, h2, h3, h4{
	border:0; margin:0;padding:0;
}

/* or download a CSS reset e.g. normalize */
html{
	font-family: arial;
	font-size:18px; /* equal to 100% or 1em */
}

.flex-container{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	min-height:100%;
	margin:0 auto;

	background-image:url(../images/refinery.jpg);
	background-size: cover;
	background-position: center;    


}

header {
	display:flex;
	width:100%;
	height:10em;
	order: 1;
	justify-content:center;
  align-items:center;
	background-color:rgba(186,232,235,1.00);
}

nav {
	width:100%;
	height:3em;
  order: 2;
}
.menuItem{
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:20%;
	height:3em;
	float:left;
	background-color:gray;
	color:#FFF;
}
.menuItem:hover{
	background-color:rgba(255,0,0,1.00);
}
article{
  display:flex;
  flex-wrap:wrap;
  order: 4;
	flex: 1 75%;
	min-height: 900px;
  background-color:rgba(245, 248, 235, 0.75); 
}

.controlPanel {
  order: 3;
  flex: 1 25%;
	background-color: rgb(255, 241, 227); 
	box-sizing: border-box;
	border-right: 3px solid orange;
}
.contentRight{
  order: 5;
	flex: 1 0%;
	background-color:rgba(207,174,102,1.00);
	display: none;
}
footer {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
  width:100%;
  min-height:5em;
  order:6;
  align-items:center;
  background-color:rgba(186,232,235,1.00);
}


aside {
	width:100%;
	height:1em;
}

.panel {
	box-sizing: border-box;
	border: 2px solid gray;
	flex-wrap: wrap;
	align-items: flex-start;
	width:90%;
	margin:10px auto;
	height: auto;
	border-radius: 10px;
	background-color: lightgrey;
}

.panel p {
	width:100%;
	text-align: center;
	padding-top: 10px;
	font-size: 25px;
}

ul {
	box-sizing: border-box;
	border: 0px solid gray;
	width:100%;
	min-height:auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	padding: 0 15px;
}

li {
	min-width: 150px;
	margin: 10px 5px;
	display: flex;
	justify-content: center;	
	line-height: 40px;
	text-align: center;		
	background-image: linear-gradient(darkgrey, white);
	font-size: 0.9em;
	border-radius: 3px;
}

/*
fieldset {
	box-sizing: border-box;
	width: 96%;
	border: 2px solid orange;
	border-radius: 10px;
	background-color: rgb(255, 241, 227);
	padding: 20px;
	margin: 2%;
}
*/
fieldset p {
	font-size: 1em;
	color: grey;
}

.error {
	font-size: 1em;
	color: red;
}

.holder {
	width:32%;	
	min-height:310px;
	float:left;	
	margin: 0.5%;
}

.frame {
	width:100%;	
	padding: 4%;
	min-height:300px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end; 
	justify-content: space-around;
	background-color: rgb(255, 241, 227);
	box-sizing: border-box;
	border: 2px solid orange;	
	border-radius: 10px;
}

.frame p {
	width: 100%;
	font-size: 1em;
}

.bigholder {
	width:100%;	
	height:auto;
	float:left;
	box-sizing: border-box;
	padding: 2%;
}

.errmsg {
	width: 100%;
	/*margin: 3px 10%;*/
	font-size: 0.8em;
}

.button {
	box-sizing: border-box;
	border: 2px solid gray;
	border-radius: 5px;
	width: 120px;
	display: flex;
	justify-content: center;	
	line-height: 20px;
	padding: 12px 0;
	margin: 10px;
	text-align: center;		
	background-color: orange;
	font-size: 1em;
}

button, input[type=button], input[type=submit]{
	/*box-sizing: border-box;
	border: 1px solid blue;*/
	border-radius: 5px;
	min-width: 100px;
	justify-content: center;	
	line-height: 40px;
	text-align: center;		
	background-color: orange;
	font-size: 1em;
}

.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-color: rgb(250, 187, 71);
	cursor: pointer;
}

.button:active, button:active, input[type=button]:active, input[type=submit]:active {
	background-color: rgb(255, 218, 148);
	cursor: pointer;
}

.button:disabled, button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
	background-color: lightgray;
	cursor: default;
}

a:link, a:active, a:visited{
  color:blue;
  text-decoration: none;
}

/* hide the divs in ajax page when loaded */
.ajaxform {
	display: none;
}



/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1s;
	animation-name: animatetop;
	animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modalheader {
	padding: 6px 16px;
	background-color: orange;
	color: white;
}

.modalbody {padding: 32px 16px;}

.modalfooter {
	padding: 12px 16px;
	background-color: orange;
	color: white;
}


@media only screen and (max-width: 1440px) {

	.nav{
		order:1;
	}
	.header{
		order:2;
	}

	.holder{
		width:49%;	
	}
}

@media only screen and (max-width: 640px) {
	.flex-container {
		width:100%;
	}
	.holder{
		width:99%;
	}
	.controlPanel {
		flex: 1 100%;
		display:flex;
		flex-wrap:wrap;
		border-right: 0px;
	}

	article {
		flex: 1 100%;
	}
	.nav{
		height:auto;
	}
	.menuItem{
		width:100%;
	}
	.holder{
		width:100%;	
	}
}
