
<div class="bigholder">
  <button onclick="addUserForm()">Add a User</button>
  <button onclick="getUsers()">Show Users</button>
  <button onclick="getFiles()">Show Files</button>
  <button onclick="modalBrowser()">Browser</button>
  <button onclick="showDropzone()">Dropzone</button>
  <button onclick="location.href='?pageid=grid';">Show Grid</button>
</div>
<div id="userlist" class="bigholder"></div>
<div id="filelist" class="bigholder"></div>

<div class="bigholder">
  <form action="#"  method="post" id="adduserform" class="ajaxform" novalidate onsubmit="return false">
    <h1>Add User</h1>
    <fieldset>
      <legend>Login details</legend>
      <input type="hidden" name="rowid" id="useraddid" required><br>
      <label>Username: </label>
      <input type="text" name="username" id="useraddun" pattern="[A-Za-z0-9]{4,}" required><br>
      <p>4 or more characters, no symbols</p>
      <div class="error" id="errora1"></div><br>
      <label>Password: </label>
      <input type="password" name="password" id="useraddpw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br>
      <p>8 or more characters that include at least one number, one uppercase and one lowercase letter</p>
      <input type="checkbox" onclick="showPassword2()">Show Password<br>
      <div class="error" id="errora2"></div><br>
      <label>Role:</label>
      <input type="radio" name="role" value="Admin" checked>Admin<br>
    </fieldset>
    <fieldset>
      <legend>Personal details</legend>
      <label>Given Name: </label>
      <input type="text" name="name" id="useraddname" pattern="[A-Za-z]{1,}" required><br>
      <p>1 or more letters</p>
      <div class="error" id="errora3"></div><br>
      <label>Surname: </label>
      <input type="text" name="surname" id="useraddsurname" pattern="[A-Za-z]{1,}" required><br>
      <p>1 or more letters</p>
      <div class="error" id="errora4"></div><br>
      <label>Email:</label>
      <input type="email" name="email" id="useraddemail" required><br>
      <p>Email format</p>
      <div class="error" id="errora5"></div><br>	
      <input type="hidden" name="action_type" value="add"/>
      <input type="button" name="adduser_button" id="adduser_button_form" onclick="AJAXaddUser()" value="Submit" disabled>
      <input type="button" onclick="validity1()" value="Validate">
      <input type="button" onclick="closeUserForm()" value="Cancel">
    </fieldset>
  </form>
</div>
<div class="bigholder">
  <form action="#"  method="post" id="edituserform" class="ajaxform" novalidate onsubmit="return false">
    <h1>Edit User</h1>
    <fieldset>
      <legend>Login details</legend>
      <input type="hidden" name="rowid" id="usereditid" required><br>
      <label>Username: </label>
      <input type="text" name="username" id="usereditun" pattern="[A-Za-z0-9]{4,}" required><br>
      <p>4 or more characters, no symbols</p>
      <div class="error" id="errore1"></div><br>
      <label>Password: </label>
      <input type="password" name="password" id="usereditpw" pattern="[A-Za-z0-9]{4,}" required><br>
      <p>4 or more characters, no symbols</p>
      <input type="checkbox" onclick="showPassword3()">Show Password<br>
      <div class="error" id="errore2"></div><br>
      <label>Role:</label>
      <input type="radio" name="role" value="Admin" checked>Admin<br>
    </fieldset>
    <fieldset>
      <legend>Personal details</legend>
      <label>Given Name: </label>
      <input type="text" name="name" id="usereditname" pattern="[A-Za-z]{1,}" required><br>
      <p>1 or more letters</p>
      <div class="error" id="errore3"></div><br>
      <label>Surname: </label>
      <input type="text" name="surname" id="usereditsurname" pattern="[A-Za-z]{1,}" required><br>
      <p>1 or more letters</p>
      <div class="error" id="errore4"></div><br>
      <label>Email:</label>
      <input type="email" name="email" id="usereditemail" required><br>
      <p>Email format</p>
      <div class="error" id="errore5"></div><br>	
      <input type="hidden" name="action_type" value="edit"/>
      <input type="button" name="edituser_button" id="edituser_button_form" onclick="AJAXupdateUser()" value="Submit" disabled>
      <input type="button" onclick="validity2()" value="Validate">
      <input type="button" onclick="getUsers()" value="Cancel" />
    </fieldset>
  </form>
</div>

<div id="dzone" class="ajaxform bigholder" >
  <div class="container">
    <form action="?pageid=dzone" class="dropzone" id="dropzoneFrom">
    </form>
    <div align="center">
      <button type="button" class="btn btn-info" id="submit-all">Upload</button>
    </div>
    <br>
    <br>
    <div id="preview"></div>
    <br />
    <br />
  </div>
</div>


